//Footer
.footer-main {
  position: relative;
  background-color: $text-main;
  background-image: url("../img/footer-back.png");
  @include back-img;
}
.menu-border-top {
  position: relative;
  padding-top: size(22);
  border-top: 2px solid #ffffff;
}
.hop-hey.three-columns {
  column-count: 2;
  column-gap: 1rem;
  @media (max-width: 500px) {
	column-count: 1;
	column-gap: unset;
  }
}
footer {
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	a {
	  position: relative;
	  @include foo-menu;
	  color: #ffffff;
	  padding-right: 20px;
	  transition: color .5s;
	  &:hover {
		color: $gold-main;
		transition: color .5s;
	  }
	}
	&:before {
	  position: absolute;
	  content: '>';
	  top: 6px;
	  color: #ffffff;
	  font-size: size(18);
	  line-height: size(20);
	  display: inline-block;
	  right: 0;
	}
  }
  .contact-list li {
	margin-bottom: 10px;
	a {
	  display: flex;
	  align-items: center;
	  padding-right: 0;
	  img {
		margin-left: 8px;
	  }
	}
	&:before {
	  display: none;
	}
  }
}
.contact-menu-foo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.foo-title {
  @include h6;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 15px;
}
.foo-form-wrap {
  padding-top: size(40);
  .logo {
	margin-bottom: size(20);
	img {
	  max-height: size(80);
	}
  }
}
.footer-container-menu {
  padding-top: 46px;
  padding-bottom: 80px;
}
#go-top {
  position: absolute;
  top: -4rem;
  right: 33px;
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
  svg {
	width: size(64);
	transition: fill .5s;
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
.pop-great {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  z-index: 88;
  transition: all ease-out .5s;
  &.show-pop {
	pointer-events: all;
	opacity: 1;
  }
}
.float-form {
  position: fixed;
  left: 10%;
  top: 100px;
  width: 424px;
  max-height: 100vh;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  transition: all ease-out .5s;
  pointer-events: none;
  &.show-float-form{
	pointer-events: all;
	opacity: 1;
	transform: translateY(0);
  }
  @media (max-width: 500px) {
	width: 95%;
	left: 2.5%;
  }
  @media (max-width: 400px) {
	div.wpcf7 input[type="submit"] {
	  background-image: none !important;
	}
  }
}
.footer-contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  .social-link {
	margin: 0 7px;
	&:first-child {
	  margin-right: 0;
	}
	&:last-child {
	  margin-left: 0;
	}
  }
}
