//Form styles
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-image: url("../iconsall/form-select.png");
  padding-right: size(11);
  padding-left: size(35);
  background-position: 21px center;
  background-size: size(12);
  background-repeat: no-repeat;
}
div.wpcf7 textarea {
  height: size(130);
  padding: size(22) size(17);
}
.back-img-input {
  &.back-img-input-name {
	.wpcf7-form-control-wrap:before {
	  background-image: url("../iconsall/form-name.png");
	  background-size: size(20);
	}
  }
  &.back-img-input-tel {
	.wpcf7-form-control-wrap:before {
	  background-image: url("../iconsall/form-tel.png");
	  background-size: size(21);
	}
  }
  &.back-img-input-mail {
	.wpcf7-form-control-wrap:before {
	  background-image: url("../iconsall/form-mail.png");
	  background-size: size(30);
	}
  }
  .wpcf7-form-control-wrap {
	position: relative;
	&:before {
	  content: '';
	  background-size: size(21);
	  background-position: center;
	  background-repeat: no-repeat;
	  position: absolute;
	  right: 0;
	  display: block;
	  background-color: $gold-main;
	  width: size(44);
	  height: 100%;
	  border-top-right-radius: size(23);
	  border-bottom-right-radius: size(23);
	}
  }
}
div.wpcf7 input[type="submit"] {
  @include submit-style;
}
.foo-form-title, .foo-form-subtitle {
  //@include base-title;
  color: #ffffff;
  text-align: center;
}
.foo-form-subtitle {
  font-weight: 400;
}
.post-form-title {
  font-size: size(63);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(60);
  @media (max-width: 1600px) and (min-width: 993px) {
	font-size: size(41);
	line-height: size(44);
  }
}
.post-form-title, .post-form-subtitle {
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.38);
  color: #ffffff;
  text-align: center;
}
.post-form-subtitle {
  font-size: size(51);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(54);
  @media (max-width: 1600px) and (min-width: 993px) {
	font-size: size(31);
	line-height: size(34);
  }
}
.post-form-plain {
  background-image: url("../img/post-form.png");
  @include back-img;
  padding: size(29) 10%;
  div.wpcf7 input[type="submit"] {
	background-color: #181818;
	border: none;
  }
}
.post-form-back-block {
  @include back-img;
  padding: size(38) 5%;
}
.post-main-form-title {
  @include h4;
  text-align: center;
  font-weight: 300;
  margin-bottom: size(14);
  color: #181818;
}
.float-form {
  position: fixed;
  top: 10%;
  z-index: 99999999;
  transition: all .5s;
  transform: translateX(-100%);
  opacity: 0;
  &.show-form {
	left: 3rem;
	opacity: 1;
	transform: translateX(0);
  }
}
.pop-form {
  padding: size(30) size(40);
  border-radius: size(23);
  background-color: #141414;
}
.small-form {
  div.wpcf7 input,
  div.wpcf7 select {
	height: size(47);
  }
  .back-img-input {
	&.back-img-input-name {
	  .wpcf7-form-control-wrap:before {
		background-size: size(15);
	  }
	}
	&.back-img-input-tel {
	  .wpcf7-form-control-wrap:before {
		background-size: size(17);
	  }
	}
	.wpcf7-form-control-wrap {
	  position: relative;
	  &:before {
		width: size(34);
	  }
	}
  }
}
.repeat-form-block {
  padding: 37px 0 10px 0;
  background-color: #141414;
}
.pop-form-title {
  @include h2;
  margin-bottom: size(20);
}
.pop-form-subtitle {
  @include h3;
  margin-bottom: size(30);
}
.pop-form-title, .pop-form-subtitle {
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.38);
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}
.form-title {
  @include h2;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-bottom: size(15);
  strong {
	font-weight: 400;
  }
}
.inverse-form {
  .repeat-form-block {
	background-color: $gold-main;
  }
  div.wpcf7 input[type="submit"] {
	background-color: #181818;
  }
  .wpcf7-form-control-wrap {
	position: relative;
	&:before {
	  background-color: #181818;
	}
  }
}
.form-col-post {
  position: sticky;
  top: 0;
}
