header {
  box-shadow: 0 2px 23px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-height: size(100);
}
.header-tel, .col-header-last {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
	width: size(20);
  }
}
.tel-number {
  @include h5;
  font-weight: 300;
  color: #232323;
  text-align: center;
  margin-right: 11px;
  @media (max-width: 450px) {
	display: none;
  }
}
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  a{
		@include h6;
		color: #201f1f;
		font-weight: 300;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
		@media (max-width: 1600px) and (min-width: 769px){
		  font-size: size(19);
		  line-height: size(22);
		}
	  }
	}
  }
}
.logo {
  @include d-center;
  img {
	max-height: size(60);
  }
}
header {
  .logo {
	padding: size(10) 0;
	@media (max-width: 768px) {
	  margin: 0 50px;
	}
	@media (max-width: 576px) {
	  margin: 0 50px 0 0;
	  img {
		max-height: size(40);
	  }
	}
  }
}
.bread-container {
  a, span {
	@include base-text;
	font-weight: 400;
	transition: color ease-out .5s;
  }
  a:hover {
	color: $gold-main;
  }
}
