// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Pixel to REM
// =============================================================================


$base-size: 22;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


// usage: body {margin: size(20);}


// =============================================================================
// Media Query [Bootstrap 4 default queries]
// =============================================================================


@mixin extra-large-device-up {
  @media (min-width: 1200px) { @content; }
}
@mixin extra-large-device-down {
  @media (max-width: 1200px) { @content; }
}
@mixin large-device {
  @media (max-width: 992px) { @content; }
}
@mixin medium-device {
  @media (max-width: 768px) { @content; }
}
@mixin small-device {
  @media (max-width: 576px) { @content; }
}
@mixin h1 {
  font-size: size(55);
  line-height: size(48);
  font-weight: 400;
  @media (max-width: 1200px) {
	font-size: size(45);
	line-height: size(50);
  }
  @media (max-width: 992px) {
	font-size: size(50);
	line-height: size(55);
  }
  @media (max-width: 576px) {
	font-size: size(40);
	line-height: size(45);
  }
}
@mixin h2 {
  font-size: size(45);
  line-height: size(48);
  font-weight: 400;
  @media (max-width: 1200px) {
	font-size: size(40);
	line-height: size(35);
  }
  @media (max-width: 992px) {
	font-size: size(45);
	line-height: size(48);
  }
  @media (max-width: 576px) {
	font-size: size(35);
	line-height: size(30);
  }
}
@mixin h3 {
  font-size: size(40);
  line-height: size(40);
  font-weight: 500;
  @media (max-width: 1200px) {
	font-size: size(35);
	line-height: size(40);
  }
  @media (max-width: 992px) {
	font-size: size(40);
	line-height: size(45);
  }
  @media (max-width: 576px) {
	font-size: size(30);
	line-height: size(35);
  }
}
@mixin h4 {
  font-size: size(35);
  line-height: size(32);
  @media (max-width: 1200px) {
	font-size: size(30);
	line-height: size(35);
  }
  @media (max-width: 992px) {
	font-size: size(35);
	line-height: size(40);
  }
  @media (max-width: 576px) {
	font-size: size(25);
	line-height: size(28);
  }
}
@mixin h5 {
  font-size: size(30);
  line-height: size(25);
  @media (max-width: 1200px) {
	font-size: size(25);
	line-height: size(30);
  }
  @media (max-width: 992px) {
	font-size: size(30);
	line-height: size(35);
  }
  @media (max-width: 576px) {
	font-size: size(23);
	line-height: size(25);
  }
}
@mixin h6 {
  font-size: size(25);
  line-height: size(30);
  color: $title-color;
  @media (max-width: 1200px) {
	font-size: size(22);
	line-height: size(25);
  }
  @media (max-width: 992px) {
	font-size: size(25);
	line-height: size(30);
  }
  @media (max-width: 576px) {
	font-size: size(20);
	line-height: size(23);
  }
}
@mixin base-text {
  font-size: size(20);
  line-height: size(22);
  font-weight: 300;
  color: $text-main;
  @media (max-width: 1200px) and (min-width: 993px) {
	font-size: size(18);
	line-height: size(22);
  }
}
@mixin foo-menu {
  font-size: size(15);
  line-height: size(20);
  font-weight: 300;
  color: #ffffff;
}
@mixin input-style {
  height: size(60);
  border-radius: size(23);
  background-color: #ffffff;
  padding-right: size(54);
  margin-bottom: 14px;
  @media (max-width: 1600px) {
	height: size(50);
  }
}
@mixin input-text {
  color: $text-main;
  font-size: size(20);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  @media (max-width: 1600px) {
	font-size: size(18);
	line-height: size(20);
  }
}
@mixin submit-style {
  height: size(60);
  border-radius: size(23);
  background-color: transparent;
  background-size: size(10);
  background-position: 5% center;
  background-repeat: no-repeat;
  color: #fefefe;
  font-size: size(20);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(22);
  border: 1px solid $gold-main;
  text-align: center;
  padding: 10px 20px 10px 40px;
  background-image: url("../iconsall/form-submit.png");
  transition: background-position ease-out .5s;
  &:hover {
	background-position: 3%;
  }
  @media (max-width: 1920px) {
	font-size: size(18);
	line-height: size(20);
  }
  @media (max-width: 1600px) {
	height: size(50);
	font-size: size(22);
	line-height: size(24);
  }
  @media (max-width: 400px) {
	font-size: size(18);
	line-height: size(20);
  }
}
@keyframes rotating {
  0% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	transform: rotate(-35deg);
  }
}
//100%
@mixin back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
@mixin d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes jump {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-bottom: 1rem;
  }
}
@keyframes jump-top {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-top: -1rem;
  }
}
