.faq {
  margin: size(100) 0;
  .card {
	border: none !important;
	border-radius: 0;
	background-color: transparent;
  }
  .question-card {
	margin-bottom: 0;
  }
  .answer-body {
	padding: 24px 0 0 size(40);
  }
  .base-output {
	color: $title-color !important;
  }
}
.faq-inside {
  border-radius: size(40) 0;
  background-color: #f8f8f8;
  padding: size(60) 5%;
}
.question-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: size(43);
  border-radius: 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $gold-main;
  padding: 15px size(35) 15px 40px;
  color: $text-main;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  background-size: 14px;
  background-image: url("../iconsall/faq.png");
  &.active-faq {

  }
  .base-text {
	color: $title-color;
	font-weight: 300;
	text-align: right;
  }
}
.question-header {
  border-radius: 0;
  background-color: transparent;
}
.faq-icon {
  position: absolute;
  left: 8px;
  color: $gold-main;
  font-size: size(28);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  &.hide {
	display: none;
  }
  &.show {
	display: block;
  }
}
.minus-icon {
  display: none;
}
.faq-col {
  position: relative;
  @include d-center;
  @media (max-width: 992px) {
	display: none;
  }
}
.faq-img {
  position: absolute;
  @include d-center;
  img {
	height: calc(100% + 4rem);
  }
}

//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-image .5s;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(10);
	height: size(17);
	z-index: 33;
	top: unset;
	bottom: -1rem;
  }
  [dir="rtl"] .slick-next {
	right: unset;
	left: 0;
  }
  [dir="rtl"] .slick-prev {
	left: 1.5rem;
	right: unset;
  }
}
.base-slider-block {
  position: relative;
  margin: size(110) 0;
  @media (max-width: 992px) {
	.row-slider {
	  flex-direction: column-reverse;
	}
  }
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .img-slider {
	@include back-img;
	border-radius: size(40) 0;
	width: 125%;
	max-width: unset;
	position: absolute;
	right: -25%;
	height: 100%;
	margin-top: -20%;
	@media screen and (max-width: 992px) {
	  position: relative;
	  width: 90%;
	  right: unset;
	  margin-top: 0;
	  z-index: 5;
	  margin-bottom: -60px;
	  height: unset;
	  &:after {
		padding-bottom: 65%;
		content: '';
		display: block;
	  }
	}
  }
}
.slider-content-wrap {
  position: relative;
  z-index: 4;
  background-color: #181818;
  padding: 10%;
  border-radius: 0 size(40);
  .base-output {
	padding-bottom: 20px;
	p {
	  margin-bottom: 0;
	}
	* {
	  color: #ffffff;
	}
  }
  @media screen and (max-width: 992px) {
	padding: size(100) 10% size(60) 10%;
  }
}


//Benefits
.why-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 90%;
  @media (max-width: 1200px) and (min-width: 993px){
	max-width: 100%;
  }
  @media (max-width: 992px) and (min-width: 577px){
	max-width: 80%;
  }
  @media (max-width: 576px) {
	max-width: 100%;
  }
}
.why-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: size(50);
  margin-bottom: 14px;
  img {
	max-height: 100%;
  }
}
.why-item-title {
  @include base-text;
  text-align: center;
}
//Post card
.col-post {
  padding: 15px;
  @media (min-width: 1201px) {
	padding: 7.5px 2.5px;
  }
}
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.11);
  border-radius: size(30);
  background-color: #ffffff;
  padding: size(18) size(16);
  transition: margin-top .5s;
  &:hover {
	.inside-image-wrap {
	  img {
		transform: scale(1.1, 1.1);
	  }
	}
  }
}
.product-card {
  padding: 0;
  border-radius: 0 size(30);
  overflow: hidden;
  .post-card-link {
	padding: 0 34px;
	margin-bottom: 16px;
  }
  .post-card-content {
	padding: 0 5%;
  }
  &:hover {
	.product-card-image {
	  transform: scale(1.1, 1.1);
	}
  }
}
.card-product-col {
  padding: 0 5px !important;
}
.card-product-col:nth-child(odd) .product-card {
  border-radius: size(30) 0;
}
.post-card-image {
  @include d-center;
  position: relative;
  border-radius: size(30);
  background-color: #d4d2d2;
  width: 100%;
  margin-bottom: size(17);
  overflow: hidden;
  &:after {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
  .inside-image-wrap {
	overflow: hidden;
	img {
	  max-width: unset;
	  min-width: 100%;
	  min-height: 100%;
	  transition: transform ease-out .5s;
	}
  }
}
.product-card-image {
  width: 100%;
  position: relative;
  @include d-center;
  background-color: #ffffff;
  @include back-img;
  border-radius: 0;
  margin-bottom: size(17);
  transition: transform ease-out .5s;
  &:after {
	content: '';
	display: block;
	padding-bottom: 103%;
  }
}
.inside-image-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  @include d-center;
}
.post-card-title {
  @include base-text;
  color: $title-color;
  font-weight: 400;
  margin-bottom: 10px;
  transition: color ease-out .5s;
  &:hover {
	color: $gold-main;
  }
}
.post-card-link {
  @include base-text;
  font-weight: 400;
  transition: color ease-out .5s;
  align-self: flex-end;
  &:hover {
	color: $gold-main;
  }
}
.post-card-content {
  flex-grow: 1;
}
