/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1600px) {
  .col-xxl {
	flex: 0 0 20%;
	max-width: 20%;
  }
  #MainNav {
	ul {
	  li {
		padding: size(32) 0;
		a {
		  padding: 0 size(25);
		}
	  }
	}
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
  .contacts-footer-menu {
	order: 2;
  }
  .foo-links-menu {
	order: 3;
  }
}
@media (min-width: 769px) {
  .back-to-menu, .sub-head {
	display: none !important;
  }
  #MainNav{
	ul{
	  display: flex;
	  justify-content: flex-start;
	  height: 100%;
	  li{
		@include d-center;
		height: 100%;
		padding: size(22) 0;
		&:last-child {
		  a {
			border-left: none;
		  }
		}
		a{
		  @include d-center;
		  padding: 0 size(15);
		  border-left: 1px solid #201f1f;
		}
	  }
	}
	li.menu-item-has-children {
	  position: relative;
	  &:hover {
		ul.sub-menu {
		  opacity: 1;
		  height: auto !important;
		  pointer-events: auto;
		}
	  }
	}
	ul.sub-menu {
	  position: absolute;
	  pointer-events: none;
	  padding: size(30) 0;
	  z-index: 999;
	  opacity: 0;
	  top: 100%;
	  min-width: 188px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  box-shadow: -4px -3px 16px rgba(0, 0, 0, 0.1);
	  background-color: #ffffff;
	  border-top: 4px solid $gold-main;
	  transition: height, opacity ease-out .5s;
	  li {
		padding: 0;
	  }
	  li a {
		@include base-text;
		color: $title-color;
		border: none;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
		margin-bottom: 10px;
		transition: color ease-out .5s;
		&:hover {
		  color: $gold-main;
		}
	  }
	}
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }

}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 950px) {

}
