@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "partials";
@import "header";
@import "footer";
@import "forms";


body{
  font-family: $almoni-tzar;
  text-align: right;
}
.wow {
  visibility: hidden;
}
//Basic styles
.block-title {
  @include h2;
  color: #303030;
  font-weight: 400;
  padding-bottom: 14px;
  &:after {
	position: absolute;
	bottom: 0;
	right: 0;
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	border-bottom: 2px solid $gold-main;
  }
}
.base-text {
  @include base-text;
}
.base-output {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h1, h2, h3, h4, h5, h6 {
	color: $title-color;
	font-weight: 400;
	margin-bottom: 18px;
  }
  h1 {
	@include h1;
  }
  h2 {
	@include h2;
	position: relative;
	padding-bottom: 14px;
	&:after {
	  position: absolute;
	  bottom: 0;
	  right: 0;
	  content: '';
	  display: block;
	  width: 100%;
	  height: 2px;
	  border-bottom: 2px solid $gold-main;
	}
  }
  h3 {
	@include h3;
  }
  h4 {
	@include h4;
  }
  h5 {
	@include h5;
  }
  h6 {
	@include h6;
  }
  p, li {
	@include base-text;
	color: $text-main;
  }
  p {
	margin-bottom: size(18);
  }
  img {
	width: 100%;
	margin: 1rem 0;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
}
.post-output {
  align-items: stretch;
  h1, h2, h3, h4, h5, h6 {
	align-self: flex-start;
  }
  h1 {
	position: relative;
	padding-bottom: 14px;
	&:after {
	  position: absolute;
	  bottom: 0;
	  right: 0;
	  content: '';
	  display: block;
	  width: 100%;
	  height: 2px;
	  border-bottom: 2px solid $gold-main;
	}
  }
}
.white-output {
  h1, h2, h3, h4, h5, h6, p, li {
	color: #ffffff;
  }
}
.homepage-main-text {
  align-items: center;
  * {
	text-align: center;
  }
  p {
	@include h4;
	font-weight: 300;
  }
  h2 {
	padding-bottom: 0;
	&:after {
	  display: none;
	}
  }
}
.base-link {
  @include d-center;
  border: 1px solid $gold-main;
  height: size(34);
  border-radius: size(17);
  padding: 5px 20px;
  font-size: size(20);
  line-height: size(22);
  text-align: center;
  font-weight: 400;
  color: $text-main !important;
  background-color: transparent;
  transition: background-color ease-out .5s;
  &.inverse-link {
	color: #ffffff !important;
	background-color: #181818;
	&:hover {
	  background-color: $gold-main;
	}
  }
  &:hover {
	background-color: $gold-main;
  }
  &.bigger-link {
	width: 170px;
	height: size(44);
	border-radius: size(22);
	border: 2px solid $gold-main;
  }
  &.term-link {
	min-height: size(40);
	padding: size(10);
	height: 100%;
	width: 100%;
	font-weight: 300;
	transition: background-color, color ease-out .5s;
	&.hover, &.active {
	  background-color: $gold-main;
	  color: #ffffff !important;
	}
  }
}
.term-col {
  padding: 0 7px;
  @media (max-width: 1200px) {
	padding: 0 15px;
  }
}
.base-white-title {
  @include h2;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin-bottom: size(53);
}
//Homepage
.home-main-block {
  position: relative;
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  .slide-main {
	@include back-img;
	height: 100%;
	padding: 100px 0;
	background-color: #c1bfbf;
  }
  .slide-video {
	overflow: hidden;
	padding: 100px 0;
	@include d-center;
	position: relative;
	height: 100%;
	video {
	  position: absolute;
	  min-height: 100%;
	  min-width: 100%;
	  object-fit: cover !important;
	}
  }
  .slick-dotted.slick-slider {
	margin-bottom: 0;
  }
  .slick-dots {
	top: 0;
	@include d-center;
	flex-direction: column;
	height: 100%;
	width: auto;
	left: size(40);
	z-index: 9999;
	@media (max-width: 576px) {
	  justify-content: flex-end;
	  padding-bottom: 100px;
	}
  }
  ul.slick-dots {
	li {
	  margin: 9px 0;
	  button {
		@include d-center;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: transparent;
		opacity: 1 !important;
		border: 2px solid #ffffff;
		@media (max-width: 650px) {
		  width: 14px;
		  height: 14px;
		}
		&:before {
		  top: unset;
		  left: unset;
		  color: #ffffff;
		  opacity: 0 !important;
		  font-size: 0.4rem;
		}
	  }
	}
  }
  ul.slick-dots li.slick-active button {
	background-color: #000000;
  }
}
.row-about {
  &:nth-child(even) {
	flex-direction: row-reverse;
	.about-image {
	  border-top-left-radius: size(23);
	  border-bottom-right-radius: size(23);
	  border-top-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
  }
  @media (max-width: 992px) {
	margin-bottom: 2rem;
  }
}
.logo-home {
  @include d-center;
  margin-bottom: size(14);
  img {
	max-height: size(215);
	@media (max-width: 1600px) {
	  max-height: size(120);
	}
  }
}
.about-image {
  overflow: hidden;
  width: 100%;
  border-top-right-radius: size(23);
  border-bottom-left-radius: size(23);
  img {
	width: 100%;
	transition: transform ease-out .5s;
  }
  @media (max-width: 992px) {
	margin-top: 1rem;
  }
  &:hover {
	img {
	  transform: scale(1.1, 1.1);
	}
  }
}
.home-about-block {
  padding: size(100) 0;
  @media (max-width: 992px) {
	padding: size(50) 0;
  }
}
.home-benefits-block {
  padding: size(70) 0;
}
//Reviews
.reviews-block {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.review-slide {
  padding: 2rem 5px;
}
.review-item {
  position: relative;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: size(30);
  border: 1px solid #000000;
  background-color: #ffffff;
  padding: 23% 18% 10% 7%;
  margin: 0 4px;
  @media (max-width: 1200px) {
	padding: 23% 10% 10% 7%;
  }
}
.rev-pop-trigger {
  width: size(23);
  height: size(23);
  border-radius: 50%;
  @include d-center;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-size: size(18);
  line-height: size(18);
  align-self: center;
  background-color: $gold-main;
  margin-left: 9%;
  @media (max-width: 1200px) {
	margin-left: 3%;
  }
}
.quote {
  position: absolute;
  z-index: 90;
  width: size(41);
}
.quote-top {
  top: -20px;
  left: 11px;
}
.quote-bottom {
  bottom: -20px;
  right: 11px;
}
.review-col {
  margin-bottom: 2rem;
}
.rev-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.review-prev-content {
  flex-grow: 1;
}
.review-prev {
  @include base-text;
  margin-bottom: size(19);
}
.review-title {
  @include base-text;
  font-weight: 400;
  color: $title-color;
  margin-bottom: size(12);
}
.reviews-block {
  margin: size(70) 0;
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/slider-arrow-right.png");
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/slider-arrow-left.png");
  }
  @media (max-width: 576px) {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  top: 100%;
	}
	[dir="rtl"] .slick-prev {
	  right: 45%;
	}
	[dir="rtl"] .slick-next {
	  left: 45%;
	}
  }
}
//Reviews popup
.hidden-review {
  display: none;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: size(30);
  }
}
#reviews-pop-wrapper {
  position: relative;
  border-radius: size(30);
  background-color: #ffffff;
  border: 1px solid #000000;
  align-items: flex-start;
  padding: 2rem;
  z-index: 2222;
}
#reviewsModal {
  .modal-content .close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	top: 10px;
	right: 10px;
	background-color: transparent;
	.fa-times {
	  color: $gold-main;
	  font-size: 2rem;
	}
  }
}
.modal {
  z-index: 99999;
}
//Contact
.contact-form-back {
  margin-bottom: 50px;
  background-color: #181818;
  padding: 55px 6%;
}
.map-col {
  border-top: 2px solid $gold-main;
  img {
	width: 100%;
  }
}
//Contact
.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}
.contact-icon-wrap  {
  @include d-center;
  width: size(89);
  height: size(85);
  border-radius: size(23);
  border: 2px solid $gold-main;
  padding: size(21);
  margin-bottom: size(17);
  img {
	max-height: 100%;
  }
}
.contact-info {
  @include base-text;
  transition: color ease-out .5s;
  &:hover {
	color: $gold-main;
  }
}
.contact-item-title {
  font-size: size(24);
  line-height: size(26);
  font-weight: 400;
  margin-bottom: size(10);
}
.contact-item-title, .contact-info {
  text-align: center;
  color: #031617;
}
//About
.about-team-block {
  background-color: #f8f8f8;
  padding: size(76) 0;
}
.about-page-image {
  border-radius: 0 size(40);
  margin-bottom: size(58);
  overflow: hidden;
  img {
	width: 100%;
  }
}
//Single post
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 32px 0 45px 0;
}
.social-share-link {
  margin: 0 7px;
  img {
	height: size(35);
  }
}
.share-text {
  @include h6;
  color: $text-main;
  font-weight: 400;
  margin-left: 5px;
}
//Posts
.slider-single-section {
  background-color: #181818;
  padding: size(88) 0;
  ::-webkit-scrollbar {
	width: 4px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
	height: 4px;
	border-radius: 4px;
	background-color: rgba(212, 210, 210, 0.25);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
	height: 4px;
	border-radius: 4px;
	background: $gold-main;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: $gold-main;
  }
}
.row-overflow-slider {
  flex-wrap: nowrap !important;
  overflow-x: scroll;
  padding-bottom: 2rem;
}
//Slider with overflow
.slider-overflow {
  padding: size(88);
  overflow: hidden;
  @media (max-width: 1600px) {
	.card-product-col {
	  flex: 0 0 25%;
	  max-width: 25%;
	}
  }
  @media (max-width: 1200px) {
	.card-product-col {
	  flex: 0 0 33.3%;
	  max-width: 33.3%;
	}
  }
  @media (max-width: 768px) {
	.card-product-col {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
  }
  @media (max-width: 576px) {
	.card-product-col {
	  flex: 0 0 75%;
	  max-width: 75%;
	}
  }
  @media (max-width: 500px) {
	.card-product-col {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
}
.col-overflow-left {
  margin-left: -10%;
  @media (max-width: 992px) {
	margin-left: 0;
  }
}


@import "responsive";
